html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

:root {
  --bleu: #0065fc;
  --bleu_clair: #deebff;
  --gris: #f2f2f2;
}

body {
  margin: 0;
  padding: 0;
}

#page {
  max-width: 145rem;
  margin: 0 auto;
}

#page_marge {
  margin: 0 5rem;
}

h1 {
  font-size: 2.3rem;
  font-weight: bolder;
  margin-bottom: -1rem;
  padding-top: 1rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: -1rem;
  padding-top: 1rem;
}

p {
  font-size: 1.6rem;
}

/* _______________________________ HEADER _________________________________________________ */

header {
  margin-bottom: 2.6rem;
}

#header_bloc {
  height: 9rem;
  display: flex;
}

#logo_bloc {
  flex: 1;
  margin-top: 4rem;
}

#menu_total_bloc {
  display: flex;
}

#menu_bloc {
  margin: 0;
  padding: 0 2rem;
}

#menu_bloc ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu_bloc ul li {
  flex: 1;
  padding: 0 3rem;
}

.menu_lien_bloc {
  margin: 0;
  text-align: center;
  line-height: 11rem;
}

.menu_lien_bloc:hover {
  border-top: 0.2rem solid var(--bleu);
  color: var(--bleu);
  font-weight: 500;
}

.menu_lien_bloc a:hover {
  margin-top: -0.2rem;
  color: var(--bleu);
}

.menu_lien_bloc a {
  text-decoration: none;
  display: block;
  color: black;
  font-size: 1.7rem;
}

#lien_inscrire_bloc {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  line-height: 11rem;
}

#lien_inscrire {
  color: var(--bleu);
  font-weight: 600;
  text-shadow: 0px -1px 1px rgb(121, 121, 121);
  text-decoration: none;
  font-size: 1.7rem;
}

/* __________________________________ CONTENU DE LA PAGE __________________________________________ */

/*----------outil de recherche de ville--------*/

#outil_recherche_bloc {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 40rem;
  height: 5rem;
  border: 1px solid var(--gris);
  border-radius: 1.5rem;
}

#outil_icone_bloc {
  padding: 0;
  margin: 0;
  flex: 10%;
  background-color: var(--gris);
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  text-align: center;
  line-height: 5.5rem;
  font-size: 2rem;
}

#icone_geolocalisation {
  color: #000;
}

#outil_champ_bloc {
  margin: 0;
  padding: 0;
  flex: 50%;
}

#champ {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "raleway";
  font-size: 1.6rem;
  padding-left: 2rem;
  outline-style: none;
}

#outil_bouton_bloc {
  margin: 0;
  padding: 0;
  flex: 30%;
  background-color: var(--bleu);
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  line-height: 4.8rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

#icone-loupe {
  font-size: 2rem;
  color: white;
  padding-top: 1.5rem;
  display: none;
}

/*--------------filtre 4 choix----------------*/

#filtre_bloc {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
  width: 75%;
  line-height: 5rem;
}

#filtre_texte_bloc {
  padding-top: 0.7rem;
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 3rem;
}

#filtre_gauche_bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#filtre_droit_bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.filtre_ensemble_choix_bloc {
  display: flex;
  margin: 0.5rem 1.5rem;
  background-color: #fff;
  border: 2px solid rgb(214, 214, 214);
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  cursor: pointer;
}

.filtre_ensemble_choix_bloc:hover {
  box-shadow: 1px 1px 5px 1px var(--bleu_clair);
  color: var(--bleu);
  border: 2px solid var(--bleu_clair);
}

.filtre_logo_choix_bloc {
  width: 5rem;
  margin-left: -0.4rem;
  background-color: var(--bleu_clair);
  border-radius: 50%;
  font-size: 2rem;
  text-align: center;
  line-height: 5rem;
  color: var(--bleu);
}

.filtre_texte_choix_bloc {
  background-color: #fff;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 0 2rem;
}

/* ----------derniere ligne info-------- */

#info_bloc {
  display: flex;
}

#info_logo_bloc {
  margin-right: 1rem;
}

#icone_information {
  font-size: 1.2rem;
  height: 2rem;
  width: 1.5rem;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 50%;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

#info_texte_bloc p {
  margin: 0.3rem;
}

/* _________________________ SECTION HEBERGEMENTS _____________________________________________*/

#heberge_bloc {
  margin: 2rem auto;
  display: flex;
}

/*-------------------BLOC GAUCHE-----------------*/

#heberge_gauche_bloc {
  background-color: var(--gris);
  flex: 2.1;
  margin: 1rem 0;
  margin-right: 2rem;
  border-radius: 2rem;
}

#hebergement_gauche_titre {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-bottom: 0.5rem;
}

#heberge_gauche_ensemble_carte {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#heberge_gauche_ensemble_carte a {
  text-decoration: none;
  color: #000;
  margin: 0;
}

.heberge_gauche_carte_bloc {
  width: 24rem;
  padding: 0.4rem;
  margin: 1.8rem 1.53rem;
  border-radius: 1.8rem;
  background-color: #fff;
  box-shadow: 1px 1px 10px -3px rgb(162, 162, 162);
}

.heberge_img_gauche_bloc {
  width: 24rem;
  height: 12rem;
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
}

h3 {
  font-weight: bolder;
  font-size: 1.6rem;
  margin-bottom: -1rem;
  margin-top: 0.7rem;
  margin-left: 1.5rem;
}

.heberge_gauche_carte_texte {
  font-size: 1.4rem;
  margin-left: 1.5rem;
}

.icone_etoile_bloc {
  margin-top: -0.6rem;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.fas {
  color: var(--bleu);
}

.far {
  color: #a3a3a3;
}

.heberge_gauche_carte_texte span {
  font-weight: bolder;
}

h4 {
  font-size: 1.5rem;
  margin-left: 3rem;
}
/* -----hébergement gauche images en background----- */

.cannebiere_img {
  background-image: url(img_hebergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
  background-size: 25rem;
  background-position-y: -2rem;
}

.hotel_du_port_img {
  background-image: url(img_hebergements/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
  background-size: 25rem;
  background-position-y: -2rem;
}

.mouettes_img {
  background-image: url(img_hebergements/reisetopia-B8WIgxA_PFU-unsplash.jpg);
  background-size: 25rem;
  background-position-y: -2rem;
}

.hotel_de_la_mer_img {
  background-image: url(img_hebergements/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
  background-size: 25rem;
  background-position-y: -5rem;
}

.auberge_panier_img {
  background-image: url(img_hebergements/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
  background-size: 25rem;
  background-position-y: -1rem;
}

.hotel_amina_img {
  background-image: url(img_hebergements/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
  background-size: 25rem;
  background-position-y: 25rem;
}

/* ----------------BLOC DROIT-------------- */

#heberge_droit_bloc {
  background-color: var(--gris);
  margin: 1rem 0;
  margin-left: 2rem;
  border-radius: 2rem;
  align-self: flex-start;
}

#heberge_droit_sou_bloc {
  margin: 3rem;
  margin-top: 2.5rem;
}

#heberge_droit_titreETicone_bloc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: 3.5rem;
  line-height: 1.7rem;
}

#heberge_droit_titre {
  margin: 1rem 0;
  padding: 0;
}

#icone_graphique {
  text-align: right;
  font-size: 2rem;
  color: #000;
  margin: 1rem 0;
}

#heberge_droit_ensemble_carte {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#heberge_droit_ensemble_carte a {
  text-decoration: none;
  color: #000;
}

.heberge_droit_carte_bloc {
  padding: 0.4rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 10px -3px rgb(162, 162, 162);
  margin-bottom: 3rem;
  display: flex;
  width: 33rem;
  height: 13rem;
  background-color: #fff;
}

.heberge_img_droit_bloc {
  width: 13rem;
  height: 13rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

.heberge_droit_carte_texte_bloc {
  width: 17rem;
  margin-top: 0.6rem;
}

.heberge_droit_carte_texte_bloc p {
  margin-left: 1.5rem;
  margin-bottom: 4rem;
  font-size: 1.4rem;
}

/* -----hébergement droit images en background----- */

.hotel_soleil_img {
  background-image: url(img_hebergements/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  background-size: 20rem;
  background-position-x: -3rem;
}

.chambre_coeur_img {
  background-image: url(img_hebergements/aw-creative-VGs8z60yT2c-unsplash.jpg);
  background-size: 20rem;
  background-position-x: -3rem;
}

.hotel_bleu_img {
  background-image: url(img_hebergements/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
  background-size: 15rem;
  background-position-y: -6rem;
  background-position-x: -1.5rem;
}

/* __________________________ SECTION ACTIVITES ________________________________________________*/

#activites_bloc {
  margin-top: 5rem;
}

#activites_ensemble_carte_bloc {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.2rem;
}

#activites_gauche_bloc {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-right: 1.2%;
}

#activites_droit_bloc {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex: 1;
  padding-left: 1.2%;
}

.activites_grande_carte_bloc {
  margin-right: 0.5rem;
}

#activites_ensemble_carte_bloc a {
  text-decoration: none;
  color: #000;
}

/* -----------Vieux Port carte------- */

.vieux_port_bloc {
  width: 30rem;
  height: 45rem;
  border-radius: 1.8rem;
  box-shadow: 1px 1px 10px -3px rgb(162, 162, 162);
  margin-bottom: 4rem;
}

#vieux_port_image_bloc {
  width: 30rem;
  height: 39rem;
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
}

#vieux_port_texte {
  margin-top: 2.2rem;
  margin-left: 2rem;
}

/* ---------Fort de Pomègues carte------ */

.pomegues_bloc {
  width: 30rem;
  height: 24rem;
  box-shadow: 1px 1px 10px -3px rgb(162, 162, 162);
  border-radius: 1.8rem;
  margin-bottom: 5rem;
}

#pomegues_image_bloc {
  height: 18rem;
  border-top-right-radius: 1.8rem;
  border-top-left-radius: 1.8rem;
}

#pomegues_texte {
  padding-top: 1.5rem;
  padding-left: 0.5rem;
}

/* --------Îles du Frioul carte-------- */

.frioul_bloc {
  width: 30rem;
  height: 16rem;
  box-shadow: 1px 1px 10px -3px rgb(162, 162, 162);
  border-radius: 1.8rem;
}

#frioul_image_bloc {
  height: 10rem;
  border-top-right-radius: 1.8rem;
  border-top-left-radius: 1.8rem;
}

#frioul_texte {
  padding-top: 1.5rem;
  padding-left: 0.5rem;
}

/* ----------Parc National des Calanques carte---------- */

.calanques_bloc {
  width: 30rem;
  height: 45rem;
  overflow: hidden;
  border-radius: 1.8rem;
  box-shadow: 1px 1px 10px -3px rgb(162, 162, 162);
  margin-bottom: 4rem;
}

#calanques_image_bloc {
  width: 30rem;
  height: 39rem;
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
}

#calanques_texte {
  margin-top: 2.2rem;
  margin-left: 2rem;
}

/* -----Notre-Dame-de-la-Garde carte--------- */

.notre_dame_bloc {
  width: 30rem;
  height: 19rem;
  box-shadow: 1px 1px 10px -3px rgb(162, 162, 162);
  border-radius: 1.8rem;
  margin-bottom: 5rem;
}

#notre_dame_image_bloc {
  height: 13rem;
  border-top-right-radius: 1.8rem;
  border-top-left-radius: 1.8rem;
}

#notre_dame_texte {
  padding-top: 1.5rem;
  padding-left: 0.5rem;
}

/* -------Parc Longchamp carte------- */

.longchamp_bloc {
  width: 30rem;
  height: 21rem;
  box-shadow: 1px 1px 10px -3px rgb(162, 162, 162);
  border-radius: 1.8rem;
  margin-bottom: 5rem;
}

#longchamp_image_bloc {
  height: 15rem;
  border-top-right-radius: 1.8rem;
  border-top-left-radius: 1.8rem;
}

#longchamp_texte {
  padding-top: 1.5rem;
  padding-left: 0.5rem;
}

/*----------- images en background ---------*/

#vieux_port_image_bloc {
  background-image: url(img_activites/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
  background-size: 65rem;
  background-position-x: 110rem;
}

#pomegues_image_bloc {
  background-image: url(img_activites/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
  background-size: 30rem;
  background-position-y: 33rem;
}

#frioul_image_bloc {
  background-image: url(img_activites/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
  background-size: 30rem;
  background-position-y: 17.5rem;
}

#calanques_image_bloc {
  background-image: url(img_activites/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  background-size: 65rem;
  background-position-x: 110rem;
}

#notre_dame_image_bloc {
  background-image: url(img_activites/florian-wehde-xW9e8gdotxI-unsplash.jpg);
  background-size: 30rem;
  background-position-y: 19rem;
}

#longchamp_image_bloc {
  background-image: url(img_activites/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
  background-size: 30rem;
  background-position-x: 30rem;
}

/* __________________________ FOOTER ________________________________________*/

#footer_bloc {
  margin-top: 2rem;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 5rem;
}

#footer_bloc div {
  flex: 20%;
}

#footer_bloc h2 {
  margin-bottom: 3rem;
}

/*




*/

/* ____________________________ MEDIA QUERIES _______________________________________  */

/*
----------------720px < section activité < 1370px -------------
*/

@media (min-width: 720px) and (max-width: 1370px) {
  #activites_gauche_bloc {
    justify-content: space-around;
    padding-right: 0;
  }

  #activites_droit_bloc {
    justify-content: space-around;
    padding-left: 0;
  }
}
/*
-______________________ RESPONSIVE TABLETTE ________________________________

*/

@media (min-width: 720px) and (max-width: 900px) {
  #page_marge {
    margin: 0 4rem;
  }

  #heberge_bloc {
    flex-direction: column-reverse;
  }

  #heberge_droit_bloc {
    align-self: stretch;
    margin: 0;
  }

  #heberge_gauche_bloc {
    margin: 2rem 0;
  }

  .colonne_responsive {
    margin-bottom: 4rem;
  }

  #filtre_bloc {
    width: 80%;
  }

  #footer_bloc div {
    margin: 2rem;
  }

  #heberge_droit_titreETicone_bloc {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
}
/*




____________________________ RESPONSIVE MOBILE ________________________________________________




*/

@media screen and (max-width: 719px) {
  #page_marge {
    margin: 0;
  }

  /*_______________________________ HEADER _______________________________________ */

  #header_bloc {
    flex-direction: column;
    margin-bottom: 9rem;
  }

  #lien_inscrire_bloc {
    position: relative;
    top: -7.2rem;
    right: 2rem;
    text-align: right;
  }

  #menu_total_bloc {
    height: 8rem;
  }

  #menu_bloc {
    position: absolute;
    width: 93%;
    margin-top: -2rem;
    padding: 1rem;
  }

  #logo_bloc {
    margin-left: 2rem;
  }
  .menu_lien_bloc:hover {
    border-bottom: 0.2rem solid var(--bleu);
    border-top: none;
    height: 70%;
  }

  .menu_lien_bloc a:hover {
    margin-top: 0rem;
  }

  #filtre_texte_bloc {
    width: 10rem;
  }

  h1 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  p {
    margin-bottom: 2.5rem;
    margin-left: 2rem;
  }

  /*____________________________ CONTENU DE LA PAGE __________________________________ */

  /* ----------------outil recherche------------*/

  #outil_recherche_bloc {
    margin: auto;
    width: 31rem;
    padding-top: 1rem;
    border: 1px solid var(--gris);
    padding: 0;
    border-radius: 1.5rem;
  }

  #outil_icone_bloc {
    flex: 0.8;
  }

  #outil_bouton_bloc {
    flex: 0.4;
    padding-right: 2.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }

  #bouton-rechercher {
    display: none;
  }

  #icone-loupe {
    display: initial;
    font-size: 1.6rem;
    position: relative;
    margin-left: 70%;
  }

  /* -------------- filtre 4 choix ------------------*/

  #filtre_bloc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 1rem;
    width: 85%;
    line-height: 5rem;
  }

  #filtre_texte_bloc {
    margin-bottom: -0.5rem;
    padding-left: 2rem;
    margin-right: 20rem;
    margin-top: -0.6rem;
  }

  .filtre_ensemble_choix_bloc {
    margin-bottom: 1rem;
    padding: 0;
  }

  #filtre_gauche_bloc {
    flex-direction: column;
    align-items: flex-start;
  }

  #filtre_droit_bloc {
    flex-direction: column;
    align-items: flex-start;
  }

  #info_bloc {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  #info_bloc i {
    margin-left: 1rem;
  }

  /*_________________________ SECTION HEBERGEMENTS _______________________________________*/

  #heberge_bloc {
    flex-direction: column-reverse;
    padding: 0;
  }

  /* --------------BLOC GAUCHE ----------------*/

  #heberge_gauche_bloc {
    background-color: #fff;
    margin: 0;
  }

  #heberge_gauche_sou_bloc {
    margin: 0;
  }

  #hebergement_gauche_titre {
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #heberge_gauche_ensemble_carte {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heberge_gauche_carte_bloc {
    width: 33rem;
    margin: 1rem auto;
  }

  .heberge_img_gauche_bloc {
    width: 33rem;
  }

  /* hébergement gauche images en background */

  .cannebiere_img {
    background-image: url(img_hebergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-size: 33rem;
    background-position-y: -5rem;
  }

  .hotel_du_port_img {
    background-image: url(img_hebergements/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-size: 33rem;
    background-position-y: -5rem;
  }

  .mouettes_img {
    background-image: url(img_hebergements/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-size: 33rem;
    background-position-y: -5rem;
  }

  .hotel_de_la_mer_img {
    background-image: url(img_hebergements/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-size: 33rem;
    background-position-y: -11rem;
  }

  .auberge_panier_img {
    background-image: url(img_hebergements/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-size: 33rem;
    background-position-y: -5rem;
  }

  .hotel_amina_img {
    background-image: url(img_hebergements/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-size: 33rem;
    background-position-y: 30rem;
  }

  h4 {
    margin-left: 10rem;
  }

  /* -------------------BLOC DROIT ------------------*/

  #heberge_droit_bloc {
    margin-left: 0;
    border-radius: 0;
    align-self: initial;
  }

  #heberge_droit_sou_bloc {
    width: 95%;
    margin: 1rem auto;
    padding: 0rem;
    padding-bottom: 2rem;
  }

  #heberge_droit_titreETicone_bloc {
    width: 30rem;
    margin: 3rem auto 2rem auto;
  }

  .heberge_droit_carte_bloc {
    width: 33rem;
    margin-bottom: 1.5rem;
  }

  .heberge_droit_carte_texte_bloc h3 {
    font-size: 1.5rem;
  }

  .heberge_droit_carte_texte_bloc p {
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  /* ___________________________ SECTION ACTIVITES _________________________________________________*/

  #activites_bloc {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 4rem;
    position: initial;
  }

  #activites_titre {
    margin: 0;
    text-align: center;
  }

  #activites_ensemble_carte_bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .activites_grande_carte_bloc {
    margin-bottom: 3.5rem;
  }

  #activites_gauche_bloc {
    display: block;
    padding: 0;
  }

  #activites_droit_bloc {
    display: block;
    padding: 0;
  }

  .activites_responsive_carte {
    width: 33rem;
    height: 19rem;
    box-shadow: -1px 1px 10px -1px rgb(162, 162, 162);
    border-radius: 1.8rem;
    margin: 1.5rem auto;
  }

  .pomegues_bloc {
    margin-bottom: 3.5rem;
  }

  .notre_dame_bloc {
    margin-bottom: 3.5rem;
  }

  /* images en background */

  #vieux_port_image_bloc {
    background-image: url(img_activites/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    width: 100%;
    height: 13rem;
    background-size: 34rem;
    background-position-x: 34rem;
    background-position-y: 44rem;
  }

  #pomegues_image_bloc {
    background-image: url(img_activites/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    width: 100%;
    height: 13rem;
    background-size: 35rem;
    background-position-x: -35rem;
    background-position-y: 88rem;
  }

  #frioul_image_bloc {
    background-image: url(img_activites/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: 100%;
    height: 13rem;
    background-position-y: 20rem;
    background-position-x: 33rem;
  }

  #calanques_image_bloc {
    background-image: url(img_activites/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    width: 100%;
    height: 13rem;
    background-size: 35rem;
    background-position-x: 34rem;
    background-position-y: 43rem;
  }

  #notre_dame_image_bloc {
    background-image: url(img_activites/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: 35rem;
    background-position-y: 21rem;
  }

  #longchamp_image_bloc {
    background-image: url(img_activites/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    width: 100%;
    height: 13rem;
    background-size: 35rem;
    background-position-x: -35rem;
    background-position-y: 101rem;
  }

  /* ______________________________ FOOTER ______________________________________________-*/

  #footer_bloc {
    display: flex;
    flex-direction: column;
  }

  #footer_bloc p {
    line-height: 0.5rem;
  }
}
